@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700);
html {
  height: 100%;
  background-color: lightgray; }

body {
  font-family: 'Roboto', serif;
  margin: 0;
  font-weight: lighter;
  overflow-x: hidden; }

#main-content {
  display: none; }

.align_left {
  text-align: left !important; }
  .align_left li {
    padding-bottom: 7px; }

/************* Anchors **************/
.nav_down {
  position: absolute;
  height: 36px;
  width: 100%;
  z-index: 50;
  opacity: 1;
  transition: opacity 1s; }
  .nav_down .arrow {
    position: absolute;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    opacity: 0.6;
    transition: opacity 0.5s; }
  .nav_down .white {
    opacity: 0.7; }
  .nav_down .arrow:hover {
    opacity: 1; }

.inactive {
  pointer-events: none;
  cursor: default;
  opacity: 0; }

.top {
  top: -55px; }

.bottom {
  bottom: 20px; }

#anchor_top, #anchor_one, #anchor_three, #anchor_five {
  position: absolute;
  top: 0;
  height: 1px;
  width: 100%; }

#anchor_two, #anchor_four {
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 100%; }

/*********** Backgrounds *************/
.background {
  width: 1920px;
  height: 2000px;
  position: fixed;
  left: 0; }

.first_bk {
  z-index: -1;
  background: url(images/RockyMountain1.jpg);
  background-size: 100% auto; }

.second_bk {
  z-index: -2;
  background: url(images/RockyMountains.jpg);
  background-size: 100% auto; }

.title_page_bk {
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: url(images/background.jpeg);
  background-size: 100% 100%; }

/*************** Pages **************/
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -38px;
  color: black;
  font-size: 2em; }
  .title #subtitle {
    font-size: 0.8em;
    margin-left: 20px;
    margin-top: -5px; }

.menu {
  position: absolute;
  right: 50%;
  top: 50%;
  margin-top: -96px;
  margin-right: 40px;
  font-size: 1.6em;
  line-height: 1.5;
  text-align: right; }
  .menu a {
    text-decoration: none;
    color: black;
    font-weight: normal;
    opacity: 0.4;
    transition: opacity 0.3s; }
  .menu a:hover {
    opacity: 1; }

.floater {
  height: 545px;
  width: 100%;
  position: absolute;
  color: black;
  font-size: 5em;
  text-align: center; }

.first_page {
  background-color: transparent;
  font-size: 1.5em; }
  .first_page a {
    text-decoration: none;
    color: black; }
  .first_page .center {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -193px;
    margin-left: -489.5px;
    border-collapse: separate;
    border-spacing: 1.1em 2em; }
  .first_page .vertical {
    left: 0;
    margin-right: auto;
    margin-left: auto; }
  .first_page .w450 {
    width: 450px; }
  .first_page .link:hover {
    text-decoration: none;
    font-weight: 300; }

.second_page {
  background-image: url(images/background.jpeg);
  background-size: 100% 100%; }
  .second_page .wrap {
    position: absolute;
    height: 385px;
    width: 760px;
    left: 50%;
    top: 50%;
    margin-left: -380px;
    margin-top: -200px; }
  .second_page .wrapSmall {
    display: none;
    position: absolute;
    width: 380px;
    height: 474px;
    left: 50%;
    top: 50%;
    margin-top: -365px; }
  .second_page .ed {
    position: absolute;
    font-size: 25px;
    top: -20px;
    left: 56%; }
  .second_page .loo {
    width: 200px;
    position: absolute;
    right: 55%;
    top: 10px; }
  .second_page .container {
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -380px; }
  .second_page a {
    background: black;
    display: block; }
  .second_page .experience {
    display: block;
    height: 190px;
    width: 190px;
    transition: opacity 0.3s ease-in-out; }

.third_page {
  background-image: url(images/background.jpeg);
  background-size: 100% 100%; }
  .third_page .horizontal {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -182px;
    margin-left: -514px; }
  .third_page .vertical {
    margin-left: auto;
    margin-right: auto; }
  .third_page .skill {
    width: 300px;
    height: 300px;
    color: white;
    background-color: #555555;
    font-size: 0.5em;
    line-height: 300px;
    opacity: 1;
    transition: opacity 0.2s; }
  .third_page .skill:hover {
    opacity: 0.8; }

/************* Between the pages ****************/
.btwn_floater {
  position: absolute;
  color: white;
  font-size: 3em;
  font-weight: bold;
  text-align: center; }

.first_btwn .contact_title {
  cursor: pointer; }
.first_btwn .contact_underline {
  border-top: 2.5px solid white;
  width: 248.09px;
  height: 1px; }
.first_btwn .contact_content {
  display: none;
  height: 50px; }

.second_btwn a {
  text-decoration: none;
  color: inherit; }
.second_btwn a:hover {
  text-decoration: underline; }
.second_btwn .work_title {
  cursor: pointer; }
.second_btwn .work_underline {
  border-top: 2.5px solid white;
  width: 300.45px;
  height: 1px; }
.second_btwn .work_content {
  display: none;
  height: 200px;
  width: 300.45px;
  font-size: 0.4em;
  font-weight: normal;
  line-height: 1.5; }

/******************* Footer *********************/
.footer {
  height: 100px;
  width: 100%;
  position: absolute;
  color: #b9b9b9;
  background-color: dimgrey;
  -webkit-box-shadow: inset 0px -1px 22px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0px -1px 22px 5px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px -1px 22px 5px rgba(0, 0, 0, 0.4); }
  .footer p {
    text-align: center;
    font-style: italic;
    font-size: 1.2em;
    padding-left: 10px; }

/*# sourceMappingURL=stylesheet.css.map */
