@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700);
$background: url(images/background.jpeg);

html {
  height: 100%;
  background-color: lightgray;
}

body {
  font-family: 'Roboto', serif;
  margin: 0;
  font-weight: lighter;
  overflow-x: hidden;
}

#main-content {
  display: none;
}

.align_left {
  text-align: left !important;

  li {
    padding-bottom: 7px;
  }
}

/************* Anchors **************/
.nav_down {
  transition: opacity 0.8s;
  position: absolute;
  height: 36px;
  width: 100%;
  z-index: 50;

  .arrow {
    position: absolute;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    opacity: 0.6;
    transition: opacity 0.5s;
  }

  .white {
    opacity: 0.7;
  }

  .arrow:hover {
    opacity: 1;
  }
}

.top {
  top: -55px;
}

.bottom {
  bottom: 20px;
}

#anchor_one, #anchor_three, #anchor_five {
  position: absolute;
  top: 0;
  height: 1px;
  width: 100%;
}

#anchor_two, #anchor_four {
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 100%;
}

/*********** Backgrounds *************/
.background {
  width: 1920px;
  height: 2000px;
  position: fixed;
  left: 0;
}

.first_bk {
  z-index: -1;
  background: url(images/RockyMountain1.jpg);
  background-size: 100% auto;
}

.second_bk {
  z-index: -2;
  background: url(images/RockyMountains.jpg);
  background-size: 100% auto;
}

.title_page_bk {
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: $background;
  background-size: 100% 100%;
}

/*************** Pages **************/
.title_page {
  position: absolute;
  top: 50%;
  left: 50%;
  color: black;
  font-size: 2em;

  #subtitle {
    font-size: 0.8em;
    margin-left: 20px;
    margin-top: -5px;
  }
}

.floater {
  height: 545px;
  width: 100%;
  position: absolute;
  color: black;
  font-size: 5em;
  text-align: center;
}

.first_page {
  background-color: transparent;
  font-size: 1.5em;

  a {
    text-decoration: none;
    color: black;
  }

  .center {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -193px;     // total H = 386
    margin-left: -489.5px;    // total W = 979
    border-collapse: separate;
    border-spacing: 1.1em 2em;
  }

  .vertical {
    left: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .w450 {
    width: 450px;
  }

  .link:hover {
    text-decoration: none;
    font-weight: 300;
  }
}      // About me

.second_page {
  background-image: $background;
  background-size: 100% 100%;

  .wrap {
    position: absolute;
    height: 385px;
    width: 760px;
    left: 50%;
    top: 50%;
    margin-left: -380px;
    margin-top: -200px;
  }

  .wrapSmall {
    display: none;
    position: absolute;
    width: 380px;
    height: 474px;
    left: 50%;
    top: 50%;
    margin-top: -365px;
  }

  .ed {
    position: absolute;
    font-size: 25px;
    top: -20px;
    left: 56%;
  }

  .loo {
    width: 200px;
    position: absolute;
    right: 55%;
    top: 10px;
  }

  .container {
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -380px;    // total W = 760
  }

  a {
    background: black;
    display: block;
  }

  .experience {
    display: block;
    height: 190px;
    width: 190px;
    transition: opacity 0.3s ease-in-out;
  }
}     // Education / experience

.third_page {
  background-image: $background;
  background-size: 100% 100%;

  .horizontal {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -182px;     // total H = 364
    margin-left: -514px;    // total W = 1028
  }

  .vertical {
    margin-left: auto;
    margin-right: auto;
  }

  .skill {
    width: 300px;
    height: 300px;
    color: white;
    background-color: #555555;
    font-size: 0.5em;
    line-height: 300px;
    opacity: 1;
    transition: opacity 0.2s;
  }

  .skill:hover {
    opacity: 0.8;
  }
}      // Skills

/************* Between the pages ****************/
.btwn_floater {
  position: absolute;
  color: white;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

.first_btwn {

  .contact_title {
    cursor: pointer;
  }

  .contact_underline {
    border-top: 2.5px solid white;
    width: 248.09px;
    height: 1px;
  }

  .contact_content {
    display: none;
    height: 50px;
  }
}      // Contact me

.second_btwn {

  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    text-decoration: underline;
  }

  .work_title {
    cursor: pointer;
  }

  .work_underline {
    border-top: 2.5px solid white;
    width: 300.45px;
    height: 1px;
  }

  .work_content {
    display: none;
    height: 200px;
    width: 300.45px;
    font-size: 0.4em;
    font-weight: normal;
    line-height: 1.5;
  }
}     // View my work

/******************* Footer *********************/
.footer {
  height: 100px;
  width: 100%;
  position: absolute;
  color: #b9b9b9;
  background-color: dimgrey;
  -webkit-box-shadow: inset 0px -1px 22px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: inset 0px -1px 22px 5px rgba(0,0,0,0.4);
  box-shadow: inset 0px -1px 22px 5px rgba(0,0,0,0.4);

  p {
    text-align: center;
    font-style: italic;
    font-size: 1.2em;
    padding-left: 10px;
  }
}